# Google Sheets
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json
# yoki JSON matnining o'zi (CI uchun):
# GOOGLE_SERVICE_ACCOUNT_JSON=

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_DIRECTOR_CHAT_ID=

KPI_TZ=Asia/Tashkent
